#TNAV {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 75px;
    background-color: #333;
    text-align: left;
}
.zm {
    margin: 0;
}

#SNAV {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 25vw;
    height: calc(100vh - 75px);
    background-color: #111;
    z-index: 9999999;
    overflow: auto;
}

#CHAT {
    position: fixed;
    right: 0;
    bottom: 0;
    width: calc(100vw - 25vw);
    height: calc(100vh - 75px);
    background-color: #222;
    z-index: 9999999;
    overflow: auto;  
    text-align: left;
}


.msg {
    width: 300px;
    max-height: 200px;
    background-color: black;
    margin-left: 35px;
    overflow: auto;
    word-wrap: break-word;
    margin-top: 10px;
    border-radius: 10px;
    text-indent: 15px;
}
.mmsg {
    width: 300px;
    max-height: 200px;
    background-color: black;
    margin-left: calc(100vw - 50vw);
    overflow: auto;
    margin-top: 10px;
    border-radius: 10px;
    text-indent: 15px;
}

#SM {
    position: fixed;
    bottom: 0;
    right: 0;
    width: calc(100vw - 25vw);
    height: 200px;
    z-index: 9999999999999;
    background-color: #444;
}

#message {
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 15px;
    width: 85%;
    position: relative;
    top: 25%;
    left: 45%;
    transform: translate(-50%,-50%);
}

#SEND {
    padding: 15px;
    position: relative;
    top: 25%;
    right: 0;
    transform: translate(0%,-50%);
    margin-left: 25px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border-color: white;
}

#UN {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%,-50%);
}

a {
color: white;
}

#DEV {
    display: none;
}